/* full hovercard wrapper */
.nbc.xta.spd
{
	box-shadow: none !important;
	border: none !important;
}

.kbc, /* channel description */
.GQb > a:not(.zvd) /* number of videos on channel */
{
    color: var(--font-color-sub) !important;
}

html,
body,
.nbc.xta.spd
{
    background-image: none !important;
    background: var(--background-transparent3) !important;
}

a.zvd /* Channel title */
{
	color: var(--font-color-main) !important;
	text-shadow: none !important;
	opacity: 1 !important;
}
